<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>CMS LIST</title>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
  </style>
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"  />
  <h1>Customer List</h1>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td> <a th:text="${member.id}" th:href="@{|/member/info/${member.id}|}"></a></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.email}"></td>
      </tr>
      </tbody>
    </table>
  <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>